<!DOCTYPE html>
{% block doc %}
<html>
{% block html %}
<head>
    {%- block metas %}
        <meta http-equiv="refresh" content="10">
        <meta charset="utf-8">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    {%- endblock metas %}
    {%- block head %}
        <title>SmartServer Overview</title>
        {%- block styles %}
        <link href="static/css/dark/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/style.css" rel="stylesheet">
        {%- endblock styles %}
    {%- endblock head %}
</head>
<body>
{% block body %}

{% block content %}
{% endblock content %}

{% block scripts %}
<!-- jQuery -->
  <script type="text/javascript" src="static/js/jquery.js"></script>
<!-- Bootstrap tooltips -->
  <script type="text/javascript" src="static/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.bundle.min.js"></script>
<!-- Your custom scripts (optional) -->
 <script type="text/javascript"src="static/js/script.js"></script>

{% endblock scripts %}
{% endblock body %}
</body>
{% endblock html %}
</html>
{% endblock doc %}