<!DOCTYPE html>
{% extends "base.html" %}
{% import "navbar.html" as nav %}


{% block content %}

    {% block navbar %}
        {{ nav }}
    {% endblock navbar %}

<div class="container-fluid">
  <div class="card">
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Energy Consumption</h3>
        <div class="card-body">
          <!-- ROW 1 -->
          <div class="row">
              <div class="col-sm">
                  <h5>Datum / Uhrzeit</h5>
                </div>
                <div class="col-sm">
                    <div class="alert alert-primary" role="alert">
                      <h5><strong>{{ current_dt }}</strong></h5>
                    </div>
                </div>
              </div>
        <!-- ROW 2 -->
          <div class="row">
              <div class="col-sm">
                  <h5>Aktueller Verbrauch</h5>
                </div>
                <div class="col-sm">
                {% if currentlevel == "low" %}
                    <div class="alert alert-success" role="alert">
                        <h4><strong>{{current_power}} W</strong></h4>
                    </div>
                {% elif currentlevel == "middle" %}
                    <div class="alert alert-warning" role="alert">
                        <h4><strong>{{current_power}} W</strong></h4>
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                            <h4><strong>{{current_power}} W</strong></h4>
                    </div>
                {% endif %}
                </div>
              </div>

      <!-- ROW 3 -->
          <div class="row">
              <div class="col-sm">
                  <h5>Zählerstand NT</h5>
                </div>
                <div class="col-sm">
                    <div class="alert alert-primary" role="alert">
                      <h5><strong>{{currentvalues.energy1}} kWh</strong></h5>
                    </div>
                </div>
              </div>
      <!-- ROW 4 -->
          <div class="row">
              <div class="col-sm">
                  <h5>Zählerstand HT</h5>
                </div>
                <div class="col-sm">
                    <div class="alert alert-primary" role="alert">
                      <h5><strong>{{currentvalues.energy2}} kWh</strong></h5>
                    </div>
                </div>
          </div>
        </div>
  </div>

  {% include "powerchart.html" %}

  <div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Charts</h3>
        <div class="card-body">
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">DateTime</th>
                  <th scope="col">Energy Day</th>
                  <th scope="col">Energy Night</th>
                  <th scope="col">Power</th>
                </tr>
              </thead>
              <tbody>
              {% for value in values_1h %}
                <tr>
                  <td>{{value.datetime}}</td>
                  <td>{{value.energy1}}</td>
                  <td>{{value.energy2}}</td>
                  <td>{{value.power}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
  </div>

</div>


{% endblock content %}
</html>